/* Custom properties - Definir una paleta de colores*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #BBCDE5;
    --secundario: #1C5D99;
    --aqua: #639FAB;
    --grisClaro: #f5f5f5;
    --grisOscuro: #d8d8d8;

    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
    /* scroll-snap-type: y mandatory; */
}

/* El asterisco quiere decir que se van a seleccionar todos los elementos de html 
    y todo este bloque quiere decir que se coloca el box-sizing a todos los elementos
    lo requieran */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); /* colores gradiantes/con degradado */
}

/* Globales */
.contenedor {
    /*toma estos pixeles como máximo y solamente si hay ese espacio disponible, si no toma el 100% que tiene por default cualquier div*/
    max-width: 150rem;
    /* centrar el contenedor - En lugar de poner las cuatro propiedades, podemos poner margin: 0 auto; */
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    opacity: 0.9;
}

.sombra-contenedor {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: var(--blanco);
    padding: 5rem;
    padding-bottom: 6rem;
    border-radius: 1rem;
}

/* Tipografía */
h1 {
    /* 1rem = 10px */
    font-size: var(--fuente-principal);
    font-weight: 700;
}

h2 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--oscuro);
}

h1,
h2,
h3 {
    text-align: center;
}

/* Navegación Principal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .navegacion-principal {
        flex-direction: row;

        /* trabaja horizontalmente */
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal img {
    display: block;
    text-align: center;
    height: 3.5rem;
    width: 3.5rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
    font-weight: 700;
}

/* Hero */
.hero {
    /* para imagenes de fondo */
    background-image: url(../img/hero.jpg);

    /* para que la imagen no se repita */
    background-repeat: no-repeat;

    /* para tomar todo el ancho disponible */
    background-size: cover;
    height: 550px;

    /* el padre siempre debe tener posición relativa para que el hijo se pueda posicionar de forma absoluta */
    position: relative;
}

.contenido-hero {
    position: absolute;
    /* o de igual manera esta nueva sintaxis para añadir transparencia */
    background-color: rgb(0 0 0 / 70%);
    bottom: 0;
    /* esto es para poder seleccionar todo el tamaño de hero */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes-sociales {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.redes-sociales a {
    text-decoration: none;
}

.redes-sociales img {
    width: 5rem;
}

.linkedin {
    border-radius: 100%;
}

.contenido-hero h2,
.contenido-hero p
{
    color: var(--blanco);
}

.contenido-hero span {
    color: var(--primario);
}

.contenido-hero p span {
    font-weight: bold;
}

.profile-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--primario);

    object-fit: cover; /* ESTO ES LO QUE ARREGLA LA IMAGEN APLASTADA EN <IMG> */
    /* ESTO TE PERMITE MOVERLA ARRIBA O ABAJO MANUALMENTE */
    /* 50% es centro lateral, el segundo valor es arriba/abajo */
    object-position: 50% 10%;

    margin-bottom: 2rem;
    /* bottom: -50px;
    position: absolute; */
}

.descripcion {
    text-align: center;
    width: 350px;
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Contenido Principal */
.servicio,
.proyecto {
    margin-bottom: 5rem;
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sombra-proyecto {
    border-radius: 1rem;
    box-shadow: 3px 5px 12px 0px rgba(112, 112, 112, 0.40); /* derecha, abajo, desenfoque, sombra semitransparente */
}

.proyecto a {
    display: inline-block;
    margin-bottom: 2rem;
    text-decoration: none;
    width: 6.5rem;
}

.servicio p,
.proyecto p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-ss {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.contenido-proyecto {
    padding: 2rem;
    padding-bottom: 1rem;
}

.proyecto .iconos img {
    width: 4rem;
    height: auto;
}

/* Footer */
.footer {
    text-align: center;
}

@media (min-width: 720px) {

    /* Servicios */
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Proyectos */
    .proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 2rem;
    } 
}

@media (min-width: 900px) {
    /* Volver a su tamaño por default */
    .boton {
        width: auto;
    }

    /* Hero */
    .descripcion {
        text-align: center;
        width: 480px;
    }

    /* Proyectos */
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
        row-gap: 2rem;
    }

    .servicio-web {
        padding-left: 20rem;
    }

    .servicio-uxui {
        padding-right: 20rem;
    }
}